body{
    text-align: center;
    }
#app{
    width:100%;
    height: 800px;
    background-color: darkturquoise;
    padding: 25px;
}
.line{
    height: 6px;
    background-color:blueviolet;
    width: 70px;
    margin: 8px auto;
}
h1{
    font-size: 40px;
        font-weight: 300;
    font-family: sans-serif;
    }
#games{
    width:100%;
    height: 800px;
    background-color:aquamarine;
}
img{
    height: 350px;
        margin:5px;
}
img:hover{
    transform:scale(0.9);
}
img{
    transition: transform .2s;
}
#chatbot{
    width:100%;
    height: 800px;
    background-color:darkcyan;
}